{% extends 'layouts/base.html' %}

{% block title %}Sign Up for Shortly{% endblock %}

{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center align-content-center mt-4">
      <div class="col-md-6">
        <!-- Form Start -->
        <form method="post">
          {% csrf_token %}
          <div class="card">
            <div class="card-title my-3 h3 text-center">Sign Up!</div>
            <div class="card-body">
            {% for field in form %}
              <div class="row col">
                <div class="form-floating mb-3">
                  <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="form-control">
                  <label for="{{ field.id_for_label }}" class="form-label ms-2">{{ field.name }}</label>
                </div>
                {% if field.errors %}
                <div id="userNameFeedback" class="invalid-feedback">
                {{ field.errors }}
                <ul class="list-group">
                  {% for error in field.errors %}
                  <li class="list-group-item">{{ error }}</li>
                  {% endfor %}
                </ul>
                </div>
                {% endif %}
              </div>
            {% endfor %}
              <div class="row">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </div>
        </form>
        <!-- Form End -->
      </div>
    </div>
  </div>
{% endblock %}