{% extends 'layouts/base.html' %}

{% block title %}Sign Up for Shortly{% endblock %}

{% block content %}
  <div class="container form-signin w-100 m-auto">
    <div class="card text-center">
      <div class="card-header">Sign Up</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
            <input id="id_{{ form.first_name.name }}" type="text" class="form-control">
          </div>
          <div class="form-floating mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
            <input id="id_{{ form.last_name.name }}" type="text" class="form-control">
          </div>
          <div class="form-floating mb-3">
            <input id="id_{{ form.username.name }}" type="text" class="form-control">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input id="id_{{ form.username.name }}" type="text" class="form-control">
            <label for="{{ form.username.id_for_label }}" class="form-label">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input id="id_{{ form.username.name }}" type="text" class="form-control">
            <label for="{{ form.username.id_for_label }}" class="form-label">Re-entry Password</label>
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}